{% load static %}
<!DOCTYPE html>
<html lang=”esp”>
<head>
    <meta charset=”UTF-8″ />
    
    <link  href= '{% static "css/empleados.css" %}' rel = 'stylesheet'/>
    <title>Inicio de sesión</title>
</head>
<body> 

    <div class="contenedor-login">
      <h1>Inicia sesión</h1>
      
      <img src='{% static "img/logo-guitarra-blanco.png" %}' style="background-color: red;" class="avatar" alt="Avatar Image">
      <for>
        <!-- USERNAME INPUT -->
        <label for="username">Nombre de usuario</label>
        <input type="text" placeholder="Ingrese Nombre de usuario">
        <!-- PASSWORD INPUT -->
        <label for="password">Contraseña</label>
        <input type="password" placeholder="Ingrese Contraseña">
        <input type="submit" value="Entrar">
        <a href="#">¿Olvidaste tu Contraseña?</a><br>
      </form>
    </div>
  </body>

</html>