{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        
        <meta charset="utf-8" />
        <link rel="stylesheet" href="{% static 'css/empleados.css' %}">
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        
        <!-- Navigation-->
    <nav class="navbar navborde navbar-expand-lg navbar-light" id="mainNav">
        <div class="container px-4 px-lg-5">
            <a class="navbar-brand" href="{% url 'tienda' %}">
              <img src='{% static "img/LOGO-FINAL-NEGRO.png" %}'width="auto" height="100">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                Menu
                <i class="fas fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ms-auto py-4 py-lg-0">
                    <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" href="{% url 'vendedor' %}">Productos</a></li>
                    <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" href="{% url 'homeBod' %}">Bodega</a></li>
                </ul>
            </div>
        </div>
    </nav>
    </head>
    <body>
        
        <div class="card card_productos" id="Pedidos" style="min-height: 20rem; text-align: center;">
            <h3>Pedidos</h3>
                <table >
                    <thead>
                        <tr>
                            <th>ID Pedido</th>
                            <th>Valor Total </th>
                            <th>Productos</th>
                            <th>Estado Pedido</th>
                        </tr>
                    </thead>
                    
                    <tbody>
                        {% for pedido in pedidos %}
                        {% if pedido.estado == "Pendiente" %}
                            <tr>                            
                                <td id="pedido_id">{{pedido.id}}</td>
                                <td>${{pedido.valorTotal}}</td>                                                       
                                <td><button onclick="listaProductos({{pedido.productoCarrito}})">Ver Productos</button></td>
                                <td>{{pedido.estado}}</td>
                                <td><a onclick="mandarBodega()" href="{% url 'aceptar' pedido.id %}">Aprobar</a></td>
                                <td><a  href="{% url 'rechazar' pedido.id %}">Rechazar</a></td>
                            </tr>
                        {% endif %}    
                        {% endfor %}
                    </tbody>
                    
                </table>
            
        </div>
        <div id="id01" class="w3-modal mb-2">
            <div class="w3-modal-content w3-card-4 w3-animate-zoom">
                <header class="w3-container w3-white"> 
                    <span onclick="document.getElementById('id01').style.display='none'" 
                    class="w3-button w3-white w3-xlarge w3-display-topright">&times;</span>
                    <h2 class="pl-5 pt-3">Productos</h2>
                </header>
                <div class="spad">
                    <div class="container">
                        <div class="cart-table">
                            <table>
                                <thead>
                                    <tr>
                                        <th class="producto-th">Producto</th>
                                        <th></th>
                                        <th>Precio</th>
                                    </tr>

                                </thead>
                                <tbody class="centralizacion mostrar">
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                
            </div>
        </div>
        <div class="card card_productos" id="Pedidos" style="min-height: 20rem; text-align: center;">
        <h3>Envío a Cliente</h3>
            <table >
                <thead>
                    <tr>
                        <th>ID Pedido</th>
                        <th>Valor Total </th>
                        <th>Productos</th>
                        <th>Estado Pedido</th>
                    </tr>
                </thead>
                
                <tbody>
                    {% for pedido in pedidos %}
                    {% if pedido.estado == "Despacho a Vendedor" %}
                        <tr>                            
                            <td id="pedido_id">{{pedido.id}}</td>
                            <td>${{pedido.valorTotal}}</td>                                                            
                            <td><button onclick="mostrarProductosDespachados({{pedido.productoCarrito}})">Ver Productos</button></td>
                            <td>{{pedido.estado}}</td>
                            <td><a onclick="enviarPedido()" href="{% url 'despachadoCliente' pedido.id %}">Envíar a Cliente</a></td>
                        </tr>
                    {% endif %}    
                    {% endfor %}
                </tbody>
                
            </table>
        
    </div>
    <div id="id02" class="w3-modal mb-2">
        <div class="w3-modal-content w3-card-4 w3-animate-zoom">
            <header class="w3-container w3-white"> 
                <span onclick="document.getElementById('id02').style.display='none'" 
                class="w3-button w3-white w3-xlarge w3-display-topright">&times;</span>
                <h2 class="pl-5 pt-3">Productos</h2>
            </header>
            <div class="spad">
                <div class="container">
                    <div class="cart-table">
                        <table>
                            <thead>
                                <tr>
                                    <th class="producto-th">Producto</th>
                                    <th>Precio</th>
                                </tr>

                            </thead>
                            <tbody class="centralizacion mostrarPedidos">

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            
        </div>
    </div>
       
    </body>
    <footer id="pie-pagina" class="bg-dark text-center text-white">
        <!--Container -->
        <div class="redes" style="background-color: rgba(0, 0, 0, 0.2);">
            <!--Social-->
            <section>
            <!-- Facebook -->
            <a class="btn btn-outline-light btn-floating m-1" href="https://es-la.facebook.com/" role="button" target="_blank"><i class="fab fa-facebook-f"></i></a>
            <!-- Twitter -->
            <a class="btn btn-outline-light btn-floating m-1" href="https://twitter.com" role="button" target="_blank"><i class="fab fa-twitter"></i></a>
            <!-- Google -->
            <a class="btn btn-outline-light btn-floating m-1" href="https://www.google.com" role="button" target="_blank"><i class="fab fa-google"></i></a>
            <!-- Instagram -->
            <a class="btn btn-outline-light btn-floating m-1" href="https://www.instagram.com" role="button" target="_blank"><i class="fab fa-instagram"></i></a>
            <!-- Linkedin -->
            <a class="btn btn-outline-light btn-floating m-1" href="https://cl.linkedin.com" role="button" target="_blank"><i class="fab fa-linkedin-in"></i></a>
            <!-- Github -->
            <a class="btn btn-outline-light btn-floating m-1" href="https://github.com" role="button" target="_blank"><i class="fab fa-github"></i></a>
            </section>
        </div>

        <!--Copyright -->
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
            Alonso Perez, Jonatan Pizarro & Armando Neira © 2022 Copyright:
            <a class="text-white" href="{% url 'tienda' %}">Music Pro</a>
        </div>
    </footer>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js" integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.min.js" integrity="sha384-kjU+l4N0Yf4ZOJErLsIcvOU2qSb74wXpOhqTvwVx3OElZRweTnQ6d31fXEoRD1Jy" crossorigin="anonymous"></script>
    <script src="../static/js/pedido.js"></script>
    <script src="https://kit.fontawesome.com/2c36e9b7b1.js"></script>
</html>